<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visualização de Peças</title>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js "></script>

    <style>
        model-viewer {
            --poster-color: transparent;
            background-color: #B0BEC5;
        }
        
        .model-name {
            color: black;
            font-size: 20px;
            width: 100vw;
            text-align: center;
        }
        
        .model-gltf {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: fit-content;
            width: fit-content;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app style="background-color: #B0BEC5">
            <v-tabs centered color="blue-grey darken-1" slider-color="blue-grey darken-1" class="elevation-2">
                <v-tab href="#Visualizacao">Visualização</v-tab>
                <v-tab href="#Pecas">Peças</v-tab>

                <v-tab-item value="Visualizacao">
                    <v-carousel v-if="gltfModels.length > 0" :cycle=false height="95vh">
                        <v-carousel-item v-for="(model, index) in gltfModels" :key="index">
                            <div class="text-center">
                                <p class="model-name">{{ model.name }}</p>

                                <model-viewer :src="model.link" camera-controls style="display: block; margin-left: auto; margin-right: auto; height: 84vh; width: 100vw;"></model-viewer>
                            </div>
                        </v-carousel-item>
                    </v-carousel>
                    <v-container v-else fluid fill-height>
                        <v-layout align-center justify-center>
                            <v-flex xs12 sm8 md4>
                                <v-card class="elevation-12">
                                    <v-toolbar dark color="blue-grey darken-1">
                                        <v-toolbar-title>
                                            Nenhuma peça cadastrada!
                                        </v-toolbar-title>
                                    </v-toolbar>

                                    <v-card-text>
                                        Por favor, cadastre uma ou mais na aba 'Peças'.
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-tab-item>

                <v-tab-item value="Pecas">
                    <v-card color="#B0BEC5" height="93.4vh">
                        <v-container>
                            <v-row align="center" justify="center">
                                <v-col cols="3"> </v-col>
                                <v-col cols="6">
                                    <v-card class="elevation-12">
                                        <v-toolbar dark color="blue-grey darken-1">
                                            <v-toolbar-title>Adição de Peças
                                            </v-toolbar-title>
                                        </v-toolbar>

                                        <v-card-text>
                                            <v-text-field id="nameAdd" name="nameAdd" label="Nome da nova peça" required color="indigo" :rules="[rules.nameMatch]"></v-text-field>
                                            <v-text-field id="link" label="Link da nova peça (Formato: .gltf)" name="link" required color="indigo" :rules="[rules.linkMatch]"></v-text-field>

                                            <v-spacer></v-spacer>

                                            <v-btn color="indigo" @click="submitAdd" dark>
                                                Adicionar
                                            </v-btn>
                                        </v-card-text>
                                    </v-card>

                                    <br>

                                    <v-card class="elevation-12">
                                        <v-toolbar dark color="blue-grey darken-1">
                                            <v-toolbar-title>Exclusão de Peças
                                            </v-toolbar-title>
                                        </v-toolbar>

                                        <v-card-text>
                                            <v-text-field name="nameDel" label="Nome da peça" id="nameDel" required color="indigo" :rules="[rules.nameMatch]"></v-text-field>

                                            <v-spacer></v-spacer>

                                            <v-btn color="error" @click="submitDelete" dark>
                                                Remover
                                            </v-btn>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                                <v-col cols="3"></v-col>
                            </v-row>
                        </v-container>
                    </v-card>
                </v-tab-item>
            </v-tabs>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.js "></script>
    <script src="https://unpkg.com/vue-3d-model/dist/vue-3d-model.umd.js "></script>



    <script>
        new Vue({
            el: "#app ",
            data: {
                gltfModels: JSON.parse(sessionStorage.getItem("gltfModels")),
                rules: {
                    nameMatch: value => !!value || "Nome deve ser preenchido!",
                    linkMatch: value => !!value || "Link deve ser preenchido!",
                }
            },
            beforeMount() {
                let gltfModels = []
                $.getJSON("../models.json ", (data) => {
                    data.forEach(item => {
                        gltfModels.push(item)
                    })
                    sessionStorage.setItem("gltfModels", JSON.stringify(gltfModels))
                })
            },
            destroyed() {
                sessionStorage.clear()
            },
            methods: {
                submitAdd() {
                    var name = $("#nameAdd").val().trim(),
                        url = $("#link").val().trim()

                    if (name && url) {
                        $.post(
                            "/add",
                            JSON.stringify({
                                name,
                                url,
                            }),
                            (data) => {
                                sessionStorage.setItem("gltfModels", JSON.stringify(formatLink(data)))
                                window.location.reload()
                            },
                            "json"
                        )
                    }
                },
                submitDelete() {
                    var name = $("#nameDel").val().trim()

                    if (name) {
                        $.post(
                            "/delete",
                            JSON.stringify({
                                name,
                            }),
                            (data) => {
                                sessionStorage.setItem("gltfModels", JSON.stringify(formatLink(data)))
                                window.location.reload()
                                if (sessionStorage.getItem("gltfModels") == []) sessionStorage.removeItem("gltfModels")
                            },
                            "json"
                        )
                    }
                },
            }
        })

        function formatLink(models) {
            models.forEach(model => {
                model.link = model.link.split("\\/").join()
                model.link = model.link.split("+").join("%20")
            })
            return models
        }
    </script>
</body>

</html>